{% extends 'base.html.twig' %}
{% block body %}
    {% if receiver.firstname is null or receiver.firstname is empty %}
        <p>Hallo {{ receiver.username}},</p>
    {% else %}
        <p>Hallo {{ receiver.firstname}},</p>
    {% endif%}
    <p>Herzlichen Glückwunsch!</p>
    <p>
        {{ awarded.giver.username }} hat Dir den Award {{ awarded.award.title }} geschenkt.
        Schau dir Deinen neuen Award hier an: <a href="{{ domain }}user/{{ awarded.winner.uuid }}">hier</a>.
    </p>

    <p>
        Bis gleich im Creative Museum!<br />
       <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}

