{% extends 'base.html.twig' %}
{% block body %}
    <p>Hallo {{ receiver.firstName}},</p>
    <p>Herzlichen Glückwunsch!</p>
    <p>
        Du hast das Badge {{ badged.badge.title }} aus der Kampagne {{ badged.badge.campaign.title }} erhalten.
        Schau dir dein neues badge hier an: <a href="{{ domain }}user/{{ badged.user.uuid }}">hier</a>.
    </p>
    <p>
        Bis gleich im Creative Museum!<br />
        <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}