{% extends 'base.html.twig' %}
{% block body %}
    <p>Hallo {{ receiver.firstName }},<p>
    <p>es gibt Neuigkeiten! Heute startet die Kampagne {{ campaign.title }}! Ab sofort kannst du deine Beiträge posten oder mit anderen interagieren. Schau dir in der Kampagnenbeschreibung im Feed an, worum es geht: <a href="{{ domain }}/campaigns/{{ campaign.id }}">hier</a></p>
    <p>
        Bis gleich im Creative Museum!<br />
        <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}