{% extends 'base.html.twig' %}
{% block body %}
    {% if comment.parent.author.firstname is null or comment.parent.author.firstname is empty %}
        <p>Hallo {{ comment.parent.author.username}},</p>
    {% else %}
        <p>Hallo {{ comment.parent.author.firstname}},</p>
    {% endif%}
    <p>{{ comment.author.username }} hat deinen Beitrag in der Kampagne {{ comment.campaign.title }} kommentiert. Schau dir den Kommentar hier an: <a href="{{ domain }}posts/{{ comment.parent.id }}" >hier</a>.</p>
    <p>
        Bis gleich im Creative Museum! <br />
        <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}