{% extends 'base.html.twig' %}
{% block body %}
    {% if empty receiver.firstname %}
        <p>Hallo {{ receiver.username}},</p>
    {% else %}
        <p>Hallo {{ receiver.firstname}},</p>
    {% endif%}
    <p>du wurdest in einem Post erwähnt!</p>
    <p>
        Sieh dir den Post <a href="{{ domain }}posts/{{ post.id }}">hier</a> an.
    </p>

    <p>
        Bis gleich im Creative Museum!<br />
        <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}