{% extends 'base.html.twig' %}
{% block body %}
    {% if receiver.firstname is null or receiver.firstname is empty %}
        <p>Hallo {{ receiver.username}},</p>
    {% else %}
        <p>Hallo {{ receiver.firstname}},</p>
    {% endif%}
    <p>
        {{ post.author.username }} hat Dich in einem Post erwähnt. Schau dir den Post hier an: <a href="{{ domain }}posts/{{ post.id }}">hier</a>
    </p>
    <p>
        Bis gleich im Creative Museum!<br />
        <a href="{{ domain }}">creativemuseum.landesmuseum.de</a>
    </p>
{% endblock %}